
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddNew</title>
</head>
<body>
    <div> 
        <form action="~/Person/AddNew" method="post">
            姓名:<input  type="text"name="name"/>
            年龄:<input type="text" name="age" />
            <input  type="submit" value="提交"/>

        </form>
    </div>
</body>
</html>
